img {
    max-width: 100%;
}
.app-header-main {
    background-color: $primaryLight;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.app-header-main .app-heading {
    font-size: $fontSize5;
    color: white;
    font-weight: 500;
}
.app-header-main--interior {
    background-color: $primary;
    color: white;
    margin-top: 0;
}
.app-main-container {
    overflow-y: auto;
}
.ins-app-navbar {
    width: 100%;
    z-index: 3;
}