
.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:hover, .btn-primary:active {
    background-color: $primaryHover;
    border-color: $primaryHover;
}
.btn-secondary {
    background-color: $secondary;
    border-color: $secondary
}
.btn-outline-primary {
    color: $secondary;
    border-color: $secondary;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
    color: $secondaryHover;
    border-color: $secondaryHover;
    background-color: transparent;
}
.btn-white {
    background-color: white;
}
.btn-link {
    color: $primary;
}
.table-std th, .table-std td {
    padding-left: 12px;
}
