.c-primary {
    color: $primary !important;
}

.c-primary-darker {
    color: $primaryDarker !important;
}

.c-secondary {
    color: $secondary !important;
}

.dark {
    color: $dark;
}

.c-medium {
    color: #777;
}

.c-light {
    color: #BBB;
}

.c-lighter {
    color: #DDD;
}

.c-dark {
    color: $dark;
}
.c-white {
    color: white;
}
.bg-light {
    background: #F3F3F3 !important;
}

.bg-dark {
    background-color: #2E2E2E !important;
}
.bgg-primary {
    background-color: $primary!important;
}