// colors
$primary: rgb(247, 68, 68);
$primaryHover: rgb(228, 55, 55);
$primaryDarker: rgb(206, 49, 49);
$primaryLight: #FF9999;
$secondary: #00b3b3;
$secondaryHover: #08cccc;
$dark: #444;
$clightgray: #EEE;

// fonts
$fontBody: "Roboto", sans-serif;
$fontHeadings: "Poppins", serif;
$cursive: "Pacifico", serif;

// font sizes
$fontSize1: 14px;
$fontSize2: 16px;
$fontSize3: 18px;
$fontSize4: 20px;
$fontSize5: 22px;
$fontSize6: 24px;

$fontSize7: 32px;
$fontSize8: 36px;
$fontSize9: 40px;