/* @mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) + px;
} */
.width-100 {
  width: 100%; }

.align-v {
  align-items: center; }

.text-r {
  text-align: right; }

.h-100 {
  height: 100%; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.boxed {
  padding: 30px;
  border: 2px solid #DDD; }

.pt-sm,
.pv-sm {
  padding-top: 6px; }

.pt-1,
.pv-1 {
  padding-top: 12px; }

.pt-2,
.pv-2 {
  padding-top: 24px; }

.pt-3,
.pv-3 {
  padding-top: 36px; }

.pt-4,
.pv-4 {
  padding-top: 48px; }

.pt-5,
.pv-5 {
  padding-top: 60px; }

.pt-6,
.pv-6 {
  padding-top: 80px; }

.pt-7,
.pv-7 {
  padding-top: 100px; }

.pb-7,
.pv-7 {
  padding-bottom: 100px; }

.pb-1,
.pv-1 {
  padding-bottom: 12px; }

.pb-2,
.pv-2 {
  padding-bottom: 24px; }

.pb-3,
.pv-3 {
  padding-bottom: 36px; }

.pb-4,
.pv-4 {
  padding-bottom: 48px; }

.pb-5,
.pv-5 {
  padding-bottom: 60px; }

.pb-6,
.pv-6 {
  padding-bottom: 80px; }

/* PADDING HORIZONTAL */
.pl-1,
.ph-1 {
  padding-left: 12px; }

.pl-2,
.ph-2 {
  padding-left: 24px; }

.pl-3,
.ph-3 {
  padding-left: 36px; }

.pr-1,
.ph-1 {
  padding-right: 12px; }

.pr-2,
.ph-2 {
  padding-right: 24px; }

.pr-3,
.ph-3 {
  padding-right: 36px; }

/* MARGIN VERTICAL */
.mt-sm,
.mv-sm {
  margin-top: 6px; }

.mt-1,
.mv-1 {
  margin-top: 12px; }

.mt-2,
.mv-2 {
  margin-top: 24px; }

.mt-3,
.mv-3 {
  margin-top: 36px; }

.mt-4,
.mv-4 {
  margin-top: 48px; }

.mt-5,
.mv-5 {
  margin-top: 60px; }

.mt-6,
.mv-6 {
  margin-top: 72px; }

.mb-1,
.mv-1 {
  margin-bottom: 12px; }

.mb-2,
.mv-2 {
  margin-bottom: 24px; }

.mb-3,
.mv-3 {
  margin-bottom: 36px; }

.mb-4,
.mv-4 {
  margin-bottom: 48px; }

.mb-5,
.mv-5 {
  margin-bottom: 60px; }

.mb-6,
.mv-6 {
  margin-bottom: 72px; }

/* MARGIN HORIZONTAL */
.ml-1,
.mh-1 {
  margin-left: 12px; }

.ml-2,
.mh-2 {
  margin-left: 24px; }

.ml-3,
.mh-3 {
  margin-left: 36px; }

.mr-1,
.mh-1 {
  margin-right: 12px; }

.mr-2,
.mh-2 {
  margin-right: 24px; }

.mr-3,
.mh-3 {
  margin-right: 36px; }

.ins-app-navbar {
  width: 100%; }

.c-primary {
  color: #e43737 !important; }

.c-primary-darker {
  color: #5aac78 !important; }

.c-secondary {
  color: #00b3b3 !important; }

.dark {
  color: #444; }

.c-medium {
  color: #777; }

.c-light {
  color: #BBB; }

.c-lighter {
  color: #DDD; }

.c-dark {
  color: #444; }

.c-white {
  color: white; }

.bg-light {
  background: #F3F3F3 !important; }

.bg-dark {
  background-color: #2E2E2E !important; }

.bgg-primary {
  background-color: #e43737 !important; }
